- if pjax?
  title= @title
.flag
.top-spacing
.content
  #title
    #lead
      a href="/" Home
    h1 About
  #about
    img src="/assets/me.jpg"
    p Platform engineer at Heroku. Interests include Ruby, APIs, Vim, Tmux and terminal productivity, running, fixed gear riding, history, urban design, and metal.
    h2 Technology
    markdown:
      This site is a [Sinatra app](https://github.com/brandur/org) running Ruby 2.0 on top of [the MRI](http://en.wikipedia.org/wiki/Ruby_MRI). It endeavors to provide as fluid of a user experience as possible, and as such makes makes heavy use of [jquery-pjax](https://github.com/defunkt/jquery-pjax) on the frontend and [proper HTTP caching](http://mutelight.org/http-caching) combined with [rack-cache](http://rtomayko.github.io/rack-cache/) on the backend. It is deployed, of course, on Heroku.
      
      The following is a plot of this site's median rendering time. It's generated using a metrics pipeline similar to what we use in production at Heroku: metrics logged to standard out, then drained by an app that aggregates them in a Redis store.
    #data-performance-metrics
    h2 Design
    markdown:
      The design aims to improve readability and emphasize content through typography, whitespace, and clean lines compared [to earlier incarnations of my work](https://mutelight.org). It's responsive in a nod to other people who don't browse the web in full-screen. It wouldn't have been possible without the timeless beauty of [Helvetica](http://en.wikipedia.org/wiki/Helvetica_(film\)).
== render :slim, :"_footer", layout: false
coffee:
  $ ->
    $.ajax
      url: "/data/performance-metrics",
      success: (data) ->
        chart = new Highcharts.Chart
          chart:
            renderTo: 'data-performance-metrics'
            defaultSeriesType: 'line'
          plotOptions:
            series:
              animation: false
          title:
            text: null
          xAxis:
            categories: data['axis']
            labels:
              rotation: -45
              align: 'right'
              step: 1
          yAxis:
            labels:
              formatter: ->
                this.value + 's'
            min: 0
            title:
              text: null
          tooltip:
            formatter: ->
              this.y.toPrecision(3) + 's ' + this.series.name + ' at ' + this.x + ' UTC'
          series: [
            { name: 'p50', data: data['data']['p50'], color: '#333' },
          # { name: 'p95', data: data['data']['p95'] },
          # { name: 'p99', data: data['data']['p99'] },
          ]
