link href='//fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'
#tenets
  ul
    li Meditate 15 minutes per day to clear the mind, and maintain focus.
    li Be the machine. Don't give into every emotional need, think about what your goals are and how you're going to accomplish them. <a href="http://coderoom.wordpress.com/2010/08/04/discipline-be-the-machine/">1</a>
    li Set goals every week. We're all wired for weakness, and some of us choose to be strong. <a href="http://www.sebastianmarshall.com/?p=222">2</a>
    li Chase meaning, not happiness. <a href="http://www.sebastianmarshall.com/?p=220">3</a>
    li Don't focus on yourself. Focus on others and genuinely like them. Everything you learn will be from other people. <a href="http://vimeo.com/11414505">4</a>
    li Use stoicism's negative visualization to lead a happier life. <a href="http://www.boingboing.net/2010/09/20/how-becoming-a-stoic.html#comments">5</a>
    li Wake at 4:30 AM, and finish personal projects in the 2-3 hours before work. <a href="http://www.sebastianmarshall.com/working-full-time-where-to-find-time-to-start-a-side-business">6</a>
    li Work on tangible stuff, document it, and claim credit. <a href="http://www.sebastianmarshall.com/how-to-get-a-raise">7</a>
