$sans_serif: helvetica, arial, geneva, sans-serif

$secondary: #cdcdcd

.fragments

  h1
    hyphens: auto
    -moz-hyphens: auto
    -ms-hyphens: auto
    -webkit-hyphens: auto

  pre
    overflow: initial
    white-space: pre-wrap

  .content
    //font-size: 14px
    //line-height: 1.8em
    max-width: none

    article
      float: left
      max-width: 380px

    #title
      float: left
      margin: 0 100px 0 0
      max-width: 450px

  .meta
    color: $secondary
    font-family: $sans_serif
    font-size: 12px
    font-style: italic
    margin: 0 0 0 10px

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px)

  .fragments

    .content
      font-size: 16px

      article
        //float: none
        max-width: none

      #title
        //float: none
        margin: 0
        max-width: none
