.fragments

  .content
    //font-size: 14px
    //line-height: 1.8em
    max-width: none

    article
      float: left
      max-width: 380px

    #title
      float: left
      max-width: 380px

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px)

  .fragments

    .content
      font-size: 16px

      article
        //float: none
        max-width: none

      #title
        //float: none
        max-width: none
