$sans_serif: helvetica, arial, geneva, sans-serif
$serif: georgia, serif

$secondary: #bbb

.index
  font-size: 14px

  h2
    color: $secondary
    font-family: $sans_serif
    font-size: 13px
    font-weight: bold
    margin: 10px 0
    text-transform: uppercase

  section.books, section.links, section.tweets
    float: left
    margin: 30px 30px
    width: 300px

    li
      margin: 10px 0

    .meta
      color: $secondary
      font-family: $sans_serif
      font-size: 12px
      font-weight: normal

      a, a:hover, a:visited
        color: $secondary
        text-decoration: none

  section.articles
    float: left
    margin: 30px 30px
    width: 300px

    a
      font-family: $sans_serif
      font-size: 40px
      line-height: 1.1em
      text-decoration: none

    li
      margin-bottom: 40px

      p
        margin-top: 10px

  section.books

  section.links

  section.photos
    float: left
    margin: 30px 30px
    width: 500px

    img
      border-radius: 10px
      margin: 5px 0
      width: 500px

  section.tweets

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px)

  .index

    h2

    section.articles, section.books, section.links, section.photos, section.tweets
      float: none
      margin: 30px 50px
      width: auto
