$sans_serif: helvetica, arial, geneva, sans-serif
$serif: georgia, serif

@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 200
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(/assets/raleway-extralight.woff) format('woff')

a
  color: #000
  text-decoration: underline

  &:hover
    text-decoration: none

body
  background: #fff
  color: #000
  font-family: $serif
  font-size: 16px
  line-height: 1.7em

h1, h2, h3, h4
  font-family: $sans_serif
  font-weight: 400
  margin: 30px 0

h1
  font-size: 60px
  line-height: 1.1em

h2
  border-bottom: 1px solid #cdcdcd
  font-size: 25px
  padding-bottom: 16px

h3
  font-size: 20px

p
  hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  margin: 20px 0

pre
  font-family: Monaco, "Lucida Console", "Bitstream Vera Sans Mono", Courier, monospace
  font-size: 13px
  line-height: 1.4em
  overflow: auto
  margin: 40px 0
  margin-left: 40px

.divider
  border-bottom: 1px solid #cdcdcd
  margin: 50px 0

.row
  max-width: 1100px

header
  font-size: 12px
  margin: 40px 50px

  #attributes
    margin: 40px 0

    p
      color: #336699
      font-size: 11px
      font-style: italic
      line-height: 1.4em
      margin: 0

      span.value

    span
      margin: 0 8px 0 0

  #title
    max-width: 320px

#content
  margin: 40px 50px

  p

footer
  margin: 40px 50px
