$sans_serif: "helvetica neue", helvetica, arial, geneva, sans-serif
$serif: georgia, serif

a
  color: #000
  text-decoration: underline

  &:hover
    text-decoration: none

body
  background: #fff
  color: #000
  font-family: $serif
  font-size: 20px
  line-height: 1.6em

h1
  font-family: raleway, $sans_serif
  font-size: 50px
  font-weight: 200
  line-height: 1.2em

article
  max-width: 600px

header
  margin: 20px 0

nav
  font-size: 12px

p
  margin: 20px 0

pre
  font-family: Monaco, "Lucida Console", "Bitstream Vera Sans Mono", Courier, monospace
  font-size: 13px
  line-height: 1.4em
  margin: 40px 0
  margin-left: 40px

.intro
  font-size: 24px
  line-height: 1.7em
  margin-bottom: 30px
  max-width: 800px

.row
  margin: 0 100px
  max-width: 800px
