$sans_serif: helvetica, arial, geneva, sans-serif
$serif: georgia, serif

$primary: #333
$secondary: #cdcdcd
$tertiary: #dedede
$quaternary: #f5f5f5

$content_width: 680px

.reading
  font-size: 14px
  line-height: 1.5em

  .content
    max-width: none

  #data-books-by-year
    height: 300px

  #tweets
    max-width: $content_width

    ul

      li
        margin: 10px 0

        .meta
          color: $secondary
