$sans_serif: helvetica, arial, geneva, sans-serif
$serif: georgia, serif

$primary: #333
$secondary: #cdcdcd
$tertiary: #dedede
$quaternary: #f5f5f5

$content_width: 680px

.reading
  font-size: 14px
  line-height: 1.5em

  .content
    max-width: none

  #data-books-by-year, #data-pages-by-year
    float: left
    height: 250px
    width: 49%

  #tweets
    max-width: $content_width

    ul

      li
        margin: 10px 0

        .meta
          color: $secondary

@media handheld, only screen and (max-width: 767px), only screen and (max-device-width: 767px)

  .reading

    #data-books-by-year, #data-pages-by-year
      float: none
      margin: 0
      width: 100%
